/.vs/
/pyfenn.egg-info/
/Debug/
/lib/
/obj/
/build/
**/x64/
*.vcxproj.user
*.d
*.exe
*.pdb
/bin/alif
/bin/alif_debug
/bin/decay
/bin/decay_debug
/bin/lif
/bin/lif_debug
/obj_debug/
/**/__pycache__/
*.coe
/pyfenn.egg-info/dependency_links.txt
